

#colRight {
    -fx-border-width: 5px;
    -fx-pref-width: 250px; /* Largeur du rouge */
    -fx-max-width: 300px; /* Ne pas dépasser */
    -fx-border-padding: 300px;
}

#rowLeft {
    -fx-border-width: 5px;
    -fx-pref-width: 50px; /* Réduit la largeur */
    -fx-pref-height: 300px; /* Garde la hauteur */
}

#imgBack {
    -fx-background-image: url("fondBattletest.png");
    -fx-background-size: cover;
    -fx-border-width: 5px;
    -fx-pref-width: 1700px;
    -fx-pref-height: 50px;
}

#boxattack{
	-fx-padding: 15px;
}

#attackOne{
}
#attackTwo{

}
