#colRight {

    -fx-pref-width: 300px; /* Largeur historique */
    -fx-border-color: transparent transparent black transparent; /* haut, droite, bas, gauche */
    -fx-border-width: 0 0 2px 0; /* haut, droite, bas, gauche */

}

#rowBottom {
    -fx-pref-height: 200px; /* Garde la hauteur */
	-fx-border-color: blue;
	-fx-alignment: center;
}

#imgBack {
    -fx-background-image: url("fondBattletest.png");
    -fx-background-size: cover;
    -fx-pref-width: 1200px;
}

#boxAttackAndPoke{
	-fx-Min-width: 1000;
}

#attackButton1, #attackButton2, #defenseButton1, #defenseButton2{
	-fx-pref-width: 100;
	-fx-pref-height: 35;
}
#HboxAtk{
	-fx-padding: 20;
	-fx-border-color: blue;
	-fx-alignment: top-center;
}
#PokemonInTeam{
	-fx-border-color: yellow;
	-fx-pref-width: 200;
}

#boxBag{
	-fx-Min-width: 500;
	-fx-border-color: green;
	-fx-alignment: center;
}
#VBoxPokemon, #VBoxPokemon2{
	-fx-pref-width: 800px;
}

#VBoxPokemon{
	-fx-alignment: bottom-center;
}

#VBoxPokemon2{
	-fx-alignment: center;
}

#HboxTeam{
	-fx-border-color: red;
	-fx-pref-height: 125;
}

#PokemonName, #HpPokemon, #PokemonName2, #HpPokemon2{
	-fx-fill: red;
	-fx-font-weight: bold;
}

#NameBar, #HpBar{
	-fx-padding: 0 35 0 0;
	-fx-alignment: center;
}

#Bar, #VboxImgPokemon{
	-fx-alignment: center
}

#playerHealthBar, #enemyHealthBar{
	-fx-pref-width: 300
}

