

#colRight {

    -fx-pref-width: 250px; 
    -fx-max-width: 300px;
    -fx-border-padding: 300px;
}

#rowLeft {

    -fx-pref-width: 50px; 
    -fx-pref-height: 200px; 
}

#imgBack {
    -fx-background-image: url("fondBattletest.png");
    -fx-background-size: cover;
    -fx-pref-width: 1700px;
    -fx-pref-height: 20px;
}

#boxattack{
	-fx-padding: 15px;
}
#ptain{
	-fx-border-color: blue;
}

#containerHealthPlayer{
	-fx-border-color: orange;	
}
#testpokemon{
	-fx-border-color: red;
	-fx-margin: 101px;
	-fx-max-height: 50px;
}
#imgBackPokemonEmplacement{
	 -fx-border-color: yellow;
	 -fx-max-height: 150px;
	 -fx-min-width: 1200px;
}
#imgBackPokemonEmplacement2{
	 -fx-border-color: purple;
	 -fx-max-height: 150px;
	 -fx-max-width: 1000px;
}