

#colRight {
    
    -fx-pref-width: 300px; /* Largeur historique */
	-fx-border-color: transparent transparent black transparent; /* haut, droite, bas, gauche */
	-fx-border-width: 0 0 2px 0; /* haut, droite, bas, gauche */

}

#rowBottom {
    -fx-pref-height: 200px; /* Garde la hauteur */
}

#imgBack {
    -fx-background-image: url("fondBattletest.png");
    -fx-background-size: cover;
    -fx-pref-width: 1200px;
}

#boxattack{
	-fx-padding: 15px;
}

#attackOne{
}
#attackTwo{

}

#testpokemon{
	-fx-pref-width: 800px;
}
